.bannerContainer{
  display: flex;
  align-items: center;
}

.bannerInformacoes{
  padding: 28px;
  margin: 18px;
}

/* Testando commit */
.bannerClick{
  background: rgb(0, 0, 0);
  color: white;
  border: 0;
  padding: 8px;
}

.bannerClick:hover{
  transform: scale(1.2);
  transition: 0.5s;
}

.bannerImg{
  width: 360px;
  border-radius: 10px;
}